.maincontact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 1fr;
  grid-template-areas: "contact1 contact1" "form ." "textom mapa";
}

.menunavcontacto {
  background-color: rgba(226, 211, 169, 0.671);
  font-size: 3rem;
}
.menunavcontacto .collapse {
  justify-content: end;
}
.menunavcontacto img {
  height: 4.5rem;
  width: 4rem;
  margin-left: 3rem;
}

.contact1 {
  grid-area: contact1;
  text-align: center;
  font-size: 2rem;
  color: rgba(226, 211, 169, 0.671);
  text-align: left;
  font-style: italic;
  margin-top: 3rem;
  margin-left: 1rem;
}
.contact1 p {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.form1 {
  margin-left: 1rem;
  grid-area: form;
  color: #fcbf7c;
}
.form1 button {
  margin-top: 2rem;
  color: #000000;
  background-color: #fff;
}

.mapa1 {
  grid-area: mapa;
  margin-left: 5rem;
}
.mapa1 iframe {
  width: 50rem;
  height: 35rem;
}

.textocontact {
  font-size: 2rem;
  color: rgba(226, 211, 169, 0.671);
  text-align: left;
  font-style: italic;
  grid-area: textom;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footercontacto {
  background-color: rgba(226, 211, 169, 0.671);
  height: 100%;
}
.footercontacto img {
  height: 4rem;
  width: 4rem;
}
.footercontacto .redes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.footercontacto .copyright {
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .maincontact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr;
    grid-template-areas: "contact1 contact1" "form textom" ". mapa";
  }
  .textocontact {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .maincontact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    grid-template-areas: "contact1" "form" "textom" "mapa";
  }
  .mapa1 iframe {
    margin-left: 0;
    width: 30rem;
    height: 20rem;
  }
}
.maininflu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "texto1 texto1 texto1" "spoty1 texto2 spoty2";
  justify-content: end;
}

.carousel-inner {
  margin-top: 15rem;
  grid-area: texto2;
}

.txtpresentacion {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
  color: rgba(226, 211, 169, 0.671);
  text-align: left;
  font-style: italic;
  margin-left: 1rem;
  grid-area: texto1;
}
.txtpresentacion p {
  margin-top: 5rem;
}

.spotys iframe {
  width: 40rem;
}

.a1er3 {
  margin-top: 5rem;
  grid-area: spoty1;
}

.a2do3 {
  margin-left: 5rem;
  margin-top: 5rem;
  grid-area: spoty2;
}

.footerinflu {
  grid-area: footerinicio;
  background-color: rgba(226, 211, 169, 0.671);
  height: 100%;
}
.footerinflu img {
  height: 4rem;
  width: 4rem;
}
.footerinflu .redes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.footerinflu .copyright {
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .maininflu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.7fr;
    grid-template-areas: "texto1 texto1" "spoty1 spoty2" "texto2 texto2";
  }
  .carousel-inner {
    margin-top: 3rem;
    margin-left: 20rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .maininflu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.6fr;
    grid-template-areas: "texto1" "spoty1" "spoty2" "texto2";
  }
  .carousel-inner {
    margin-top: 3rem;
    margin-left: 0;
  }
  .a1er3 {
    margin-top: 0;
    margin-left: 5rem;
    grid-area: spoty1;
  }
}
.bodyaudio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.4fr 1fr 0.1fr;
  grid-template-areas: "headau" "prese2" "videoyli" "foottau";
}

.headeraudio {
  grid-area: headau;
}

.navaudio {
  background-color: rgba(226, 211, 169, 0.671);
  font-size: 3rem;
}
.navaudio .collapse {
  justify-content: end;
}
.navaudio img {
  height: 4.5rem;
  width: 4rem;
  margin-left: 3rem;
}

.presentacionaudio {
  grid-area: prese2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-areas: "titulo1" "parra1" "discos1";
  text-align: center;
  padding-bottom: 0.3rem;
}
.presentacionaudio .titulo1 {
  grid-area: titulo1;
}
.presentacionaudio .parrafo1 {
  grid-area: parra1;
}
.presentacionaudio .discos {
  grid-area: discos1;
}
.presentacionaudio h1 {
  font-size: 4rem;
  color: #c6d2f2;
  margin-top: 3rem;
  text-decoration: underline;
}
.presentacionaudio li {
  list-style-type: none;
}
.presentacionaudio p {
  font-size: 2rem;
  color: rgba(226, 211, 169, 0.671);
}
.presentacionaudio ul {
  margin-top: 3rem;
  text-decoration: underline;
  color: #c6d2f2;
  font-size: 2.3rem;
}

.videoylista {
  grid-area: videoyli;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "lista1 video lista2";
}
.videoylista .parrafo1 {
  margin-top: 5rem;
}
.videoylista .video {
  grid-area: video;
  margin-top: 5rem;
}
.videoylista .video iframe {
  width: 70rem;
  height: 40rem;
  margin-bottom: 10rem;
}
.videoylista .lista1 {
  align-self: center;
  justify-self: center;
  grid-area: lista1;
  font-size: 2.3rem;
}
.videoylista .lista1 li {
  margin-top: 2rem;
}
.videoylista .lista1 a {
  text-decoration: underline;
  list-style-type: none;
  color: #c6d2f2;
}
.videoylista .lista1 a:hover {
  color: #fcbf7c;
}
.videoylista .lista2 {
  grid-area: lista2;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
}
.videoylista .lista2 li {
  margin-top: 2rem;
}
.videoylista .lista2 a {
  text-decoration: underline;
  list-style-type: none;
  color: #c6d2f2;
}
.videoylista .lista2 a:hover {
  color: #fcbf7c;
}

.footeraudio {
  grid-area: foottau;
  background-color: rgba(226, 211, 169, 0.671);
  height: 100%;
}
.footeraudio img {
  height: 4rem;
  width: 4rem;
}
.footeraudio .redes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.footeraudio .copyright {
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .videoylista {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.2fr;
    grid-template-areas: "lista1 lista2" "video video";
  }
  .lista1 {
    display: flex;
    justify-content: center;
  }
  .lista2 {
    display: flex;
    justify-content: center;
  }
  .video {
    display: flex;
    justify-content: center;
  }
}
.maindisco {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-areas: "descrip descrip" "img1 cancion1" "cancion2 img2";
}

.maindisco img {
  height: 35rem;
  width: 25rem;
}
.maindisco ul {
  color: #c6d2f2;
}
.maindisco li {
  list-style-type: disc;
  text-decoration: none;
  font-size: 3rem;
}
.maindisco a {
  text-decoration: underline;
  color: #c6d2f2;
}
.maindisco h3 {
  font-size: 3rem;
  color: #fcbf7c;
  text-decoration: underline;
}

.descripcion {
  grid-area: descrip;
  text-align: center;
  font-size: 2rem;
  color: rgba(226, 211, 169, 0.671);
  text-align: left;
  font-style: italic;
  margin-left: 1rem;
}
.descripcion h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 6rem;
  margin-left: 0.5rem;
  margin-bottom: 5rem;
  font-style: italic;
  text-decoration: underline;
  color: #c6d2f2;
}

.img1 {
  grid-area: img1;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.img2 {
  grid-area: img2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.cancion1 {
  grid-area: cancion1;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.cancion2 {
  grid-area: cancion2;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.footerdisco {
  background-color: rgba(226, 211, 169, 0.671);
  height: 100%;
  grid-area: footdisco;
}
.footerdisco img {
  height: 4rem;
  width: 4rem;
}
.footerdisco .redes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.footerdisco .copyright {
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .maindisco {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: "descrip descrip" "img1 img2" "cancion1 cancion2";
  }
}
@media screen and (max-width: 500px) {
  .maindisco {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: "descrip" "img1" "cancion1" "img2" "cancion2";
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #3f3737;
}

.bodyinicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  grid-template-areas: "head1 head1" "desc logo" "footer1 footer1";
}

.headerinicio {
  grid-area: head1;
}

.navbarini {
  background-color: rgba(226, 211, 169, 0.671);
  font-size: 3rem;
}
.navbarini .collapse {
  justify-content: end;
}
.navbarini img {
  height: 4.5rem;
  width: 4rem;
  margin-left: 3rem;
}

.fechas {
  grid-area: desc;
  margin-left: 3rem;
}
.fechas p {
  color: rgba(226, 211, 169, 0.671);
  font-size: 2rem;
}
.fechas h1 {
  font-style: "Raleway", sans-serif;
  margin-top: 2rem;
  font-size: 4rem;
  color: #c6d2f2;
  text-decoration: underline;
  text-align: left;
}

.logo {
  grid-area: logo;
  justify-self: center;
}

.footerinicio {
  grid-area: footer1;
  background-color: rgba(226, 211, 169, 0.671);
  height: 100%;
}
.footerinicio img {
  height: 4rem;
  width: 4rem;
}
.footerinicio .redes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.footerinicio .copyright {
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .bodyinicio {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas: "head1" "desc" "logo" "footer1";
  }
  .fechas h1 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .bodyinicio {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: "head1" "desc" "footer1";
  }
  .logo {
    display: none;
  }
  .fechas h1 {
    text-align: left;
  }
  .navbarini img {
    margin-left: 1px;
  }
}

/*# sourceMappingURL=estilos.css.map */
