/* *{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    background-image: url(../multimedia/ocaso.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*/
/* .bodyinicio{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr .5fr 0.1fr;
    grid-template-areas:
    "headerinicio  "
    "logoinicio  "
    "fechas "
    "footerinicio ";
} */
/* .headerinicio{

    grid-area: headerinicio;

}
.menunavinicio li{
    list-style-type: none;
}
.menunavinicio ul{
 display: flex;
 justify-content: space-evenly;
 margin-top: 3rem;
} */

/* .menunavinicio a{
    text-decoration: none;
    font-size: 3rem;
    color:  rgba(226, 211, 169, 0.473);
    font-family: 'Raleway', sans-serif;
    ;
} */
/* .menunavinicio  a:hover{
    color:rgba(226, 211, 169, 0.781);

} */

/* .logoinicio{
    grid-area: logoinicio;
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

} */
/* .fechas li{
    list-style-type: none;
}
.fechas a{
    text-decoration: none;
    font-size: 3rem;
    color:  rgba(226, 211, 169, 0.671);
    font-family: 'Raleway', sans-serif;
    transition: all 0.5 ease;
}
.fechas p{
    text-decoration: underline;
    margin-top: 2rem;
    color: black;
}
.fechas h2{
    color: black;
}
.fechas a:hover{
    color: rgb(226, 211, 169);
}
.fechas ul{
    margin-top: 2rem;
}
.fechas{
    font-size: 2.5rem;
    padding-top: 5rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    grid-area: fechas;

} */
/* .logoinicio img{
    margin-top: 2rem;
} */
/* .galeriainicio{
    grid-area: galeriainicio;
} */
/* .footerinicio{
    grid-area: footerinicio;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footerinicio img{
    height: 4rem;
    width: 4rem;

} */
/* .redes{
    margin-top: 5rem;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
} */
/* .copyright{
    margin-top: 7rem;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-style: italic;
} */



/* PAGINA AUDIOVISUALE */
/* .bodyaudio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  .1fr .5fr 1fr .2fr;
    grid-template-areas:
    "head head head"
    "texto texto texto"
    "lista1 video lista2"
    "footer footer footer";
} */
/* .logoaudio{
    display: none;

} */
/* .navaudio ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
   } */
   /* .navaudio li{
    list-style-type: none;
   }

   .navaudio a{
       text-decoration: none;
       font-size: 3rem;
       color:  rgba(226, 211, 169, 0.473);
       font-family: 'Raleway', sans-serif;
       ;
   }
   .navaudio  a:hover{
       color:rgba(226, 211, 169, 0.781);

   } */
   /* .headeraudio{
    grid-area: head;
   }
   .presentacionaudio{

    grid-area: texto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0.3rem;
}
.presentacionaudio li{
    list-style-type: none;
}
.presentacionaudio h2{
    font-size: 5rem;
    text-decoration: underline;
    margin-top: 10rem;
    color: rgb(0, 0, 0);
} */
/* .presentacionaudio p{

    font-size: 2.3rem;
    padding: 0 2rem 0;
    color:  #fcbf7c ;
}
.presentacionaudio ul{
    margin-top: 3rem;
    text-decoration: underline;
    color:  #f98304 ;
    font-size: 2.3rem;
}
.presentacionaudio h4{
    font-size: 2.5rem;
    color:  #f98304 ;
    display: none;
} */
/* .parrafo1{
    margin-top: 5rem;
}
.video{
    grid-area: video;
    margin-top: 5rem;
}
.video iframe{
    width: 80rem;
    height: 60rem;
} */
/* .lista1{
    grid-area: lista1;
    align-self: center;
    justify-self: center;
    font-size: 2.3rem;
}
.lista1 a{
    text-decoration: underline;
    list-style-type: none;
    color: #f98304;
    margin-left: 2rem;
}
.lista1 a:hover{
    font-size: 2.5rem;
    color: #fcbf7c;
} */
/* .lista2{
    grid-area: lista2;
    align-self: center;
    justify-self: center;
    font-size: 2.3rem;
    margin-left: 2rem;
}
.lista2 a{
    margin-left: 2rem;
    text-decoration: underline;
    list-style-type: none;
    color: #f98304;}
    .lista2 a:hover{
        font-size: 2.5rem;
        color: #fcbf7c;} */

/* .redes img{
    width: 4rem;
    height: 4rem;
}
.footeraudio {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;

} */
        /* PAGINA DISCOGRAFIA */
        /* .menunavdisco ul{
            margin-top: 3rem;
            display: flex;
            justify-content: space-evenly;
        }

        .menunavdisco a{
            text-decoration: none;
            font-size: 3rem;
            color:  rgba(226, 211, 169, 0.473);
            font-family: 'Raleway', sans-serif;
            ;
        }
        .menunavdisco  a:hover{
            color:rgba(226, 211, 169, 0.781);}
.maindisco{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "descripcion descripcion"
    "album1 canciones1"
    "canciones2 album2" ;
}
.maindisco img{
    height: 35rem;
    width: 25rem;
}
.maindisco h3{
    color: black;
    text-decoration: underline;
} */
/* .descripcion{
    grid-area: descripcion;
    text-align: center;
    font-size: 2rem;
    color:#fcbf7c;
    text-align: left;
    font-style: italic;
    margin-left: 1rem;
}
.descripcion h1{
    text-align: center;
    font-size: 4rem;
    margin-top: 6rem;
    margin-left: 0.5rem;
    margin-bottom: 5rem;
    font-style: italic;
    text-decoration: underline;
    color: black;
} */
/* .img1{
    grid-area: album1;
    margin-top: 2rem;
    align-self: center;
    justify-self: right;
    font-size: 1.5rem;
}
.cancion1{
    grid-area: canciones1;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
}
.cancion1 ul{
    color: #f98304;

}
.cancion2 ul{
    color: #f98304;
}
.cancion1 li{
    list-style-type: disc #f98304;
    text-decoration: none;
}
.cancion1 a{
    color: #f98304;
    text-decoration: underline;
}
.cancion2{
    grid-area: canciones2;
    justify-self: center;
    align-self: center;
    font-size: 3rem;

}
.cancion2 li{
    list-style-type: disc;
    text-decoration: none;
}
.cancion2 a{
    text-decoration: underline;
    color: #f98304;
} */
/* .img2{
    grid-area: album2;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}
.footerdisco {
    grid-area: footerinicio;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footerdisco  img{
    height: 4rem;
    width: 4rem;
} */
/* PAGINA INFLUENCIA */
/* .menunavinflu ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
} */

/* .menunavinflu a{
    text-decoration: none;
    font-size: 3rem;
    color:  rgba(226, 211, 169, 0.473);
    font-family: 'Raleway', sans-serif;
    ;
}
.menunavinflu  a:hover{
    color:rgba(226, 211, 169, 0.7)} */
/* .maininflu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
    "texto1 texto1 texto1"
    "spoty1 texto2 spoty2"
    ;
    justify-content: end;
} */
/* .txtpresentacion{

    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fcbf7c;
    text-align: left;
    font-style: italic;
    margin-left: 1rem;
}
.txtpresentacion p{
    margin-top: 5rem;
} */

/* .spotys iframe{
    width: 40rem;}
    .a1er3{
        margin-top: 5rem;
        grid-area: spoty1;
       } */
    /* .txt2{
        margin-top: 5rem;
        grid-area: texto2;
        text-align: center;
    font-size: 2rem;
    color:#fcbf7c;
    text-align: left;
    font-style: italic;
    align-self: center;
   justify-self: start;

    } */
    /* .a2do3{
        margin-left: 5rem;
        margin-top: 5rem;
        grid-area: spoty2;


    }
    .txtpresentacion{
        grid-area: texto1;


    } */
    /* .footerinflu {
        grid-area: footerinicio;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footerinflu  img{
        height: 4rem;
        width: 4rem;
    } */
    /* PAGINA CONTACTO */
    /* .menunavcontacto ul{
        margin-top: 3rem;
        display: flex;
    justify-content: space-evenly;
    }

    .menunavcontacto a{
        text-decoration: none;
        font-size: 3rem;
        color:  rgba(226, 211, 169, 0.473);
        font-family: 'Raleway', sans-serif;
    }
    .menunavcontacto  a:hover{
        color:rgba(226, 211, 169, 0.7)} */
/* .maincontact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:
    "contact1 contact1 contact1"
    "form1 . . "
    "mapa . .";
} */
/* .contact1{
    grid-area: contact1;
    text-align: center;
    font-size: 2rem;
    color:#fcbf7c;
    text-align: left;
    font-style: italic;
    margin-top: 3rem;
    margin-left: 1rem;
}
.contact1 p{
    margin-top: 1rem;
    margin-bottom: 4rem;
} */
/* .form1{
    color: #f98304;
}
.form1 button{
    margin-top: 2rem;
    color: #000000;
    background-color: #fff;

} */


/* .maps{
    margin-top: 3rem;
    grid-area: mapa ;
    font-size: 2rem;
    color:#fcbf7c;
    text-align: left;
    font-style: italic;
    margin-left: 5rem;
}
.textocontact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.maps iframe{

    margin-top: 5%;
    width: 40rem;
    height: 30rem;
    margin-left: 1rem;
} */
/* .footercontacto {
    text-align: center;

}
.footercontacto  img{
    height: 4rem;
    width: 4rem;} */
    /* ------------------------- */
     /* @media screen and (max-width: 768px)
{
    .bodyinicio{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .25fr 1fr .25fr;
        grid-template-areas:
        "head1 logo1"
        "fechas fechas"
        "foot1 foot1";
        }
        .headerinicio{
            grid-area: head1;
        }
        .headerinicio ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;

        }
        .headerinicio li{
            margin-left: 0.5rem;
        }
        .fechas{
            grid-area: fechas;
            align-self: center;
        }
        .logoinicio{
            grid-area: logo1;
            align-self: center;
            justify-self: center
        }
        .logoinicio img{
            height: 20rem;
            width: auto;
        }
        .footerinicio{
            grid-area: foot1;
        } */ 
        /* AUDIOVISUAL */

          /* .headeraudio ul{
            display: flex;
            flex-direction: column;
        }  */

         /* .bodyaudio{
            display: grid;
            grid-template-columns: 1fr 1fr ;
        grid-template-rows: .15fr .3fr .5fr  .25fr;
        grid-template-areas:
        "head logo "
        "texto texto"
        "lista1 lista2"
        "footer footer";
        }  */
         /* .logoaudio{
            grid-area: logo ;
            display: block;
            height: 20rem;
            align-self: center;
            justify-self: center;
        } 
        .presentacionaudio {
            text-align: left;

        }
         .discos{
            align-self: center;
            justify-self: center;
            margin-top: 2rem;
        } 
        .presentacionaudio h2{
            font-size: 3rem;
            text-align: center;
            margin-left: 1rem ;
        }
        .presentacionaudio p{
            font-size: 2rem;
        }
        .presentacionaudio h4{
            font-size: 2.5rem;
            color:  #000000 ;
            display: inline-block;
        text-align: center;} */
        /* .lista1{
            display: flex;
            justify-content: start;
        }
        .lista2{
            display: flex;
            justify-content: start;
        }
        .video{
            display: none;
        } */






    /* @media screen and (max-width: 500px)
    {.bodyinicio{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1fr;
        grid-template-areas:
        "head1"
        "fechas1"
        "footer1";
    }
    .headerinicio{
        display: flex;
        justify-content: center;
    }
    .menunavinicio{
        grid-area: head1;

    }

    .logoinicio{
        display: none;
    }
    .fechas{
        grid-area: fechas1;
    }
    .footerinicio{
        grid-area: footer1;
    } */

    /* audio 500px */
    /* .bodyaudio{
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .4fr 1fr .2fr;
        grid-template-areas:
        "head"
        "texto"
        "lista"
        "footer";
    }
    .logoaudio{
        display: none;
    }

   .headeraudio{
    display: flex;
    justify-content: center;
   }
.lista1{
    grid-area: lista;
    align-self: start;
}
.lista2{
    grid-area: lista;
    margin-left: 5rem;
    margin-top: 5rem;
}
.presentacionaudio h4{
    font-size: 2.5rem;
    color:  #000000 ;
    display: inline-block;
    } */
