@import "variables";
@import "mixins";

.bodyaudio{
    @include grids1(grid, 1fr, .1fr .4fr 1fr .1fr,
    "headau"
     "prese2"
      "videoyli"
       "foottau")
}
.headeraudio{
    grid-area: headau;
}
 .navaudio{
          background-color:$colorp;
     font-size: 3rem;
     .collapse{
         justify-content: end;
     }
     img{
         height: 4.5rem;
         width: 4rem;
         margin-left: 3rem;
     }
 }
     .presentacionaudio{
        grid-area: prese2;
        @include grids1 (grid,1fr, .5fr 1fr .5fr,"titulo1" "parra1" "discos1");
          text-align: center;
         padding-bottom: 0.3rem;
         .titulo1{
            grid-area: titulo1;
         }
         .parrafo1{
            grid-area: parra1;
         }
         .discos{
            grid-area: discos1;
         }
         h1{ font-size: $tamanoh1;
            color: $color2;
            margin-top: 3rem;
            text-decoration: underline;
         }
         li{
             list-style-type: none;
         }
         
             p{

                 font-size: $tamanop;
                
                 color: $colorp ;
                
             }
             ul{
                 margin-top: 3rem;
                 text-decoration: underline;
                 color: $color2 ;
                 font-size: 2.3rem;
             }
             
         }
        
        .videoylista{
            grid-area: videoyli;
            @include grids1 (grid,1fr 1fr 1fr, 1fr, "lista1 video lista2");
            
         .parrafo1{
             margin-top: 5rem;
         }
         .video{
             grid-area: video;
             margin-top: 5rem;
             iframe{
                width: 70rem;
                height: 40rem;
                margin-bottom: 10rem;
             }
             
         }
         .lista1{
            align-self: center;
            justify-self: center;
             grid-area: lista1;
             font-size: 2.3rem;
             li{
                margin-top: 2rem;
             }
             a{
                 text-decoration: underline;
                 list-style-type: none;
                 color: $color2;
                 &:hover{
                     color: $colorp2;                    
                 }
             }
         }
         .lista2{
             grid-area: lista2;
              align-self: center;
              justify-self: center;
             font-size: $tamanop;
             li{
                margin-top: 2rem;
             }             
             a{
                 
                 text-decoration: underline;
                 list-style-type: none;
                 color: $color2;
                 &:hover{
                     
                     color: $colorp2;                    
                 }
             }}}

         
         
     
             .footeraudio{
                grid-area: foottau;
                @include footer       
         }
         @media screen and (max-width: 768px){
            
            .videoylista{
                @include gridsmq (1fr 1fr, .4fr .2fr,
                "lista1 lista2"
                "video video")
            }
            .lista1{
                @include dfjcc
            }
             .lista2{
              @include dfjcc
             }
             .video{
                @include dfjcc ;
                
            
             }
            }
            // mediasqueries celular
            @media screen and (max-width: 500px){
                

            }
            
         