@import "variables";
@import "mixins";
.maindisco{
    @include grids1 (grid, 1fr 1fr, .1fr 1fr 1fr,
    "descrip descrip"
    "img1 cancion1"
    "cancion2 img2")
}

.maindisco{
    img{
        height: 35rem;
        width: 25rem;
    }
    ul{
        color: $color2;}
        li{
            list-style-type: disc;
            text-decoration: none;
            font-size: 3rem;
        }
        a{
            text-decoration: underline;
            color:$color2;
        }
        h3{
            font-size: 3rem;
            color: $colorp2;
            text-decoration: underline;
        }
}
.descripcion{
    grid-area: descrip;
    text-align: center;
    font-size: 2rem;
    color:$colorp;
    text-align: left;
    font-style: italic;
    margin-left: 1rem;
    h1{
        text-align: center;
        font-size: 4rem;
        margin-top: 6rem;
        margin-left: 0.5rem;
        margin-bottom: 5rem;
        font-style: italic;
        text-decoration: underline;
        color: $color2;

}
}

.img1{
    grid-area: img1;
font-size: 1.5rem;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 2rem;
}
.img2{
   grid-area: img2;
   display: flex;
flex-direction: column;
justify-content: center;
margin-left: 2rem;
}
.cancion1{
    grid-area: cancion1;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.cancion2{
   grid-area: cancion2;
   margin-left: 2rem;
   display: flex;
    align-items: center;
}  

.footerdisco {
@include footer ;
grid-area: footdisco;
}

// Medias queries (tablet)
@media screen and (max-width: 768px){
   .maindisco{
    @include gridsmq (1fr 1fr, 1fr .5fr .5fr,
    "descrip descrip"
    "img1 img2"
    "cancion1 cancion2")
   }
    }
    
    
//mediaquerie celular//
@media screen and (max-width: 500px){
    .maindisco{
        @include gridsmq (1fr, .5fr .2fr .2fr .2fr .2fr, 
        "descrip"
        "img1"
        "cancion1"
        "img2"
        "cancion2")
    }
}