@import "contacto" ;
@import "influencias" ;
@import "audiovisual" ;
@import "discografia" ;
@import "variables";
@import "mixins";


*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
   
}

html{
    font-size: 62.5%;
}
body{
    
    background-color: $colorbody;
}

.bodyinicio{
    @include grids1 (grid,1fr 1fr, .1fr 1fr .2fr,
    "head1 head1"
    "desc logo"
    "footer1 footer1")
}
.headerinicio{
    grid-area: head1;
    
}

.navbarini{
    
    @include menunav
}
.fechas{    
    grid-area: desc;
    margin-left: 3rem;
   
    p{
        color:$colorp;
        font-size: $tamanop;
        
        
    }
    h1{ font-style: $estilop;
        margin-top: 2rem;
        font-size: $tamanoh1;
        color: $color2;
        text-decoration: underline;
        text-align: left;
        
    }
}
.logo{
    grid-area: logo;
    justify-self: center;
    
}
.footerinicio{
    grid-area: footer1;
    @include footer;
}

   //medias queries tablet//
@media screen and (max-width: 768px)
{   .bodyinicio{
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr 1fr .2fr;
    grid-template-areas: 
    "head1"
    "desc"
    "logo"
    "footer1";
}
.fechas{
    h1{
        text-align: center;
    }
}
}
   

        

                //mediaquerie celular//
                @media screen and (max-width: 500px){
                    .bodyinicio{
                        grid-template-columns: 1fr;
                        grid-template-rows: .2fr 1fr .2fr;
                        grid-template-areas: "head1" "desc" "footer1";
                    }
                    .logo{
                        display: none;
                    }
                    .fechas{
                        h1{
                            text-align: left;
                        }
                    }
                    .navbarini img{
    
                       margin-left: 1px;
                    }
                    
                
                }